html{
    scroll-behavior: smooth;
}
body.stopScrolling{
    height: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
}
.logo{
    width: 20rem;
}

.presentation{
    display: grid;
    grid-template-columns: 1fr 30%;
}
nav.container{
    background-color:#000000;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: start;

}
.links{
    display: flex;
    justify-content: start;    
}
.links ul{
    display: flex;
    float: left;
    justify-content: start;    
    width: 100%;
    list-style-type:none
      
}
.nav-link{
    display: inline-block;
    justify-content: start;
    margin: 0 10px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: #fff;
}
.banner{
    width: 100%;
}
.article-area{
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0.7rem;

}
.article-area .container{
    display: grid;
    grid-template-columns: 1fr 30%;
    max-height: 600px;
    align-items: flex-start;
}
.article-area .heading{
    font-size: 2.5rem;
}
.article-area .text{
    font-size: 1.2rem;
    line-height: 1cm;
}
.square{
    font-weight: bold;
    width:100%; 
    height:100%;  
    background-color:rgb(226, 218, 218);
}
footer.container{
    background-color: #000000;
}


/* Contact */
.form{    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px 20px 40px;
    padding: 30px 50px 20px 50px;
    width: 90%;
}
.btn{
    margin-top: 10px;
}

/* Tableau */
.table-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px #000000;
}
.img-table{
    width: 100px;
}
thead tr{
    background-color: greenyellow;
    color:#000000;
    text-align: left;    
}
th, td{
    padding: 15px 20px;
}
tbody tr, td, th{
    border: 1px solid #000000;
}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    :root{
        --section-padding : 4.5rem;
    }
    .section{
        position: relative;
        padding: var(--section-padding);
    
    }
    .square{
        width:100%; 
        height:100%;  
        background-color:rgb(226, 218, 218);
        display: none;
    }
    .links ul {
        position: relative;
        flex-direction: column;
    }
    .showcase-area{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        height: 700px;
    }
    .showcase-area .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-items: center;
        row-gap: 4rem;
    }
    .showcase-area .heading{
        font-size: 1rem;
    }
    .showcase-area .text{
        font-size: 0.7rem;
        line-height: 1cm;
    }
    /* Contact */
    .form{    
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 10px 30px 20px 0px;
        padding: 30px 50px 20px 50px;
        width: 90%;
        line-height: 1cm;
    }
    .btn{
        margin-top: 10px;
    }
    
}